:root {
    --Orange: #E7DCFC;
    --light: #fff;
    --dark: #333;
    --bg: #A020F0;
}

body {
    font-family: 'Kodchasan', sans-serif;
    background-color: #f7f3e6;
    margin: 0;
    overflow-x: hidden;
}

.navbar{
    background-image: url('/img/navbar.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 395px;
    object-fit: cover;
  }

   @media (max-width: 768px) {
    .navbar {
        background-image: url('/img/navbar.png');
        height: 320px;
    }
} 

.navbar ul {
    margin: 4px 20px 0;
    padding-left: 0px;
    list-style: none;
}

.navbar a {
    border-radius: 10px;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.navbar-nav a:hover {
    background-color: var(--Orange);
    color: var(--bg);
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.open-slide {
    display: none;
}

.side-nav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
}

.side-nav1 a:hover {
    width: 100%;
    background-color: var(--Orange);
    color: var(--bg);
}

.btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    padding: 20px;
    overflow: hidden;
    width: 100%;
    transition: 0.5s;
}

@media (max-width: 960px) {
    .navbar-nav {
        display: none;
    }

    .open-slide {
        display: block;
    }
}


/* ย่อหน้า */
.indented {
    text-indent: 60px;
}

.blog-item .btn {
    background-color: var(--bg);
    border-radius: 10px;
    color: #f2f2f2;
    padding: 1rem 1.2rem;
    text-decoration: none;
    border: 0;
    display: block;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.blog-item .btn:hover {
    background-color: #F8D5F8;
    color: var(--bg);
}

.blog-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--Orange);
    border: 2px solid var(--bg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--dark);
    height: auto;
    max-width: 600px;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.blog-item img {
    text-align: center;
    width: 100%;
    object-fit: cover;


}

.blog-item h1{
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {


        grid-template-columns: repeat(1, 1fr);
        /* แสดงเป็น 2 คอลัมน์เมื่อหน้าจอขนาดเล็กกว่า 768px */
    }
} 

/* หน้าจอขนาดเล็ก (เช่นโทรศัพท์) */
@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        /* แสดงเป็น 1 คอลัมน์เมื่อหน้าจอขนาดเล็กกว่า 480px */
    }
}


footer{
    text-align: center;
    padding: 0.5rem;
    display: grid;
    margin: 2% 10%;
    grid-gap: 10px;
  }
